* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Kalam', cursive;
}

body {
    color: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.headernav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    height: 85px;
    width: 100%;
    background-color: #5284ac;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    border: 2px solid #254965;
    background-color: #5284ac;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: #ffffff;
}

.content {
    /* align-self: stretch; */
    color: #254965;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 70px;
    width: 100%;
    background-color: #5284ac;
    border: 2px solid #254965;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer > h3 {
    margin-right: 25px;
}

#failedlogin {
    width: 100%;
    color: #fa0000;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#add {
    height: 150px;
    background-color: #5284ac;
    border: 2px solid #254965;
}

#add > .contentheader {
    color: #ffffff;
}

#addcontent {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#list {
    height: 100%;
}

.contentheader {
    color: #254965;
    width: 75%;
    height: 54px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#grocerylist {
    max-height: 100%;
    overflow: scroll;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.listitem {
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #5284ac;
    border: 2px solid #254965;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listitem > input {
    width: 10%;
}

.listitem > p {
    width: 35%;
}

.listitem > form {
    width: 20%;
}

p, form {
    text-align: center;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputpage {
    width: 50%;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.input > p {
    width: auto;
}

.indexcontent {
    width: 50%;
    margin: 0 25px;
}

.indexcontent > h3, p {
    width: 100%;
}

#index {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}